[submodule "refs/deno"]
	path = refs/deno
	url = git@github.com:denoland/deno.git
[submodule "refs/bun"]
	path = refs/bun
	url = git@github.com:oven-sh/bun.git
[submodule "refs/node"]
	path = refs/node
	url = git@github.com:nodejs/node.git
[submodule "refs/gjs"]
	path = refs/gjs
	url = https://gitlab.gnome.org/GNOME/gjs.git
[submodule "refs/node-fetch"]
	path = refs/node-fetch
	url = git@github.com:node-fetch/node-fetch.git
[submodule "refs/fetch-ie8"]
	path = refs/fetch-ie8
	url = git@github.com:camsong/fetch-ie8.git
[submodule "refs/troll"]
	path = refs/troll
	url = git@github.com:sonnyp/troll.git
[submodule "refs/stream-http"]
	path = refs/stream-http
	url = git@github.com:jhiesey/stream-http.git
[submodule "refs/headless-gl"]
	path = refs/headless-gl
	url = git@github.com:stackgl/headless-gl.git
[submodule "refs/crypto-browserify"]
	path = refs/crypto-browserify
	url = https://github.com/browserify/crypto-browserify.git
[submodule "refs/readable-stream"]
	path = refs/readable-stream
	url = https://github.com/nodejs/readable-stream.git
[submodule "refs/undici"]
	path = refs/undici
	url = https://github.com/nodejs/undici.git
