[submodule "packages/packages/node/readable-stream"]
	path = packages/node/readable-stream
	url = https://github.com/gjsify/readable-stream.git
[submodule "packages/web/event-target"]
	path = packages/web/event-target
	url = https://github.com/gjsify/event-target
[submodule "packages/web/abort-controller"]
	path = packages/web/abort-controller
	url = https://github.com/gjsify/abort-controller.git
[submodule "packages/node/assert"]
	path = packages/node/assert
	url = https://github.com/gjsify/assert.git
