[submodule "packages/node/deno_std"]
	path = packages/deno/std
	url = git@github.com:gjsify/deno_std.git
[submodule "packages/infra/esbuild-plugin-deno-loader"]
	path = packages/infra/esbuild-plugin-deno-loader
	url = git@github.com:gjsify/esbuild-plugin-deno-loader.git
[submodule "packages/deno/runtime/src"]
	path = packages/deno/runtime/src
	url = git@github.com:gjsify/deno.git
